.my-class{
	background-color:red;
	font-size:20px;
}
.square,.X,.O,.null{
	height:33.33%;
	width:33.33%;
	background-color:white;
	
}
.X{
	background-image:url('../images/cross.png');
	background-size:cover;
	background-repeat: no-repeat;
}
.O{
	background-image:url('../images/ball.png');
	background-size:cover;
	background-repeat: no-repeat;
}
.game-board{
	width:50%;
	float:left;
}
.game-info{
	width:40%;
	float:right;
}
.game-info{
	font-size:40px;
}
.game-info button{
	font-size:15px;
}
.game-info ol li{
	font-size:15px;
}
.game-input{
	width:40%;
	float:right;
}
.game-input input{
	margin-left:30px;
	margin-top:30px;
	height:50px;
}